#DownloadButton:hover {
    background-color: rgba(130, 0, 0, 0.203);
    margin: 0 auto;
}
.white {
    color: white;
}
.image {
    background-image: url('Background.png');
}
.parent {
    text-align: center;

}
